Source: tklpatch
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.0.0

Package: tklpatch
Architecture: all
Depends:
 genisoimage,
 ${misc:Depends},
 squashfs-tools,
Description: TurnKey GNU/Linux Customization Mechanism
